@import url("reset.css");

#main-dashboard{
    background-color: var(--color-quartenary);
    margin: 3rem 5rem;
    border-radius: 20px;
    box-shadow: .2rem .2rem .3rem #545454;
    font-size: 23px;
}

#main-dashboard > section > section:first-of-type {
    display: flex;
    align-items: center;
    justify-content: end;
}

#new-category{
    background-color: green;
    color: aliceblue;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
}

#new-category:hover{
    background-color: rgb(2, 171, 2);
    color: aliceblue;
}

#main-table-dashboard{
    padding: 50px;
    color: var(--color-primary);
}

#main-table-dashboard > tbody > tr {

}

#main-table-dashboard > thead > tr > th{
    padding: 20px;
    text-align: center;
}
#main-table-dashboard > tbody > tr > td{
    padding: 10px;
    text-align: center;
}

#main-table-dashboard > tbody > tr > td:last-of-type{
    display: flex;
    align-items: center;
    justify-content: center;
}


#btn-edit{
    background-color: rgb(255, 149, 0);
    color: aliceblue;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 10px;
    border: 0;
    cursor: pointer;
}

#btn-edit:hover{
    background-color: rgb(216, 126, 0);
}

#btn-delete{
    background-color: red;
    color: rgb(247, 250, 252);
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 10px;
    border: 0;
    cursor: pointer;
}

#btn-delete:hover{
    background-color: rgb(235, 2, 2);
    color: rgb(247, 250, 252);
}