@import url(reset.css);

*{
    outline: none;
}

#container > div:last-of-type{
    width: 60vw;
}

#main-dashboard{
    background-color: var(--color-quartenary);
    border-radius: 20px;
    box-shadow: .2rem .2rem .3rem #545454;
    font-size: 23px;
}

#main-dashboard > section:first-of-type{
    padding: 50px;
}

#main-dashboard > section > section:first-of-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#new-product{
    background-color: green;
    color: aliceblue;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
    border: 0;
}

#new-product:hover{
    background-color: rgb(2, 171, 2);
    color: aliceblue;
}

#main-table-dashboard{
    width: 100%;
    padding: 50px;
    border-collapse: collapse;
    color: var(--color-primary);
    margin: 10px;
}


#main-table-dashboard > thead > tr > th,#main-table-dashboard > tbody > tr > td{
    padding: 12px 15px;
    border: 1px solid var(--color-secondary);
    text-align: center;
    font-size: 16px;
}

#main-table-dashboard > thead > tr > th{
    background-color: var(--color-fifth);
}

#main-table-dashboard > tbody > tr:nth-child(odd){
    background-color: var(--color-tertiary);
    color: var(--color-fifth);
}

#main-table-dashboard > tbody > tr > td:last-of-type{
    display: flex;
    align-items: center;
    justify-content: center;
}


#btn-edit{
    background-color: rgb(255, 149, 0);
    width: 100%;
    color: aliceblue;
    padding: 10px 0;
    border-radius: 10px;
    margin-right: 10px;
    border: 0;
    cursor: pointer;
}

#btn-edit:hover{
    background-color: rgb(216, 126, 0);
}

#btn-delete{
    background-color: red;
    width: 100%;
    color: rgb(247, 250, 252);
    padding: 10px 0;
    border-radius: 10px;

    border: 0;
    cursor: pointer;
}

#btn-delete:hover{
    background-color: rgb(235, 2, 2);
    color: rgb(247, 250, 252);
}

@media screen and (max-width: 1000px) {
    #container{
        flex-direction: column;
        justify-content: start;
    }

    #container > div:last-of-type{
        width: 100vw;
        padding: 20px;
    }

    #aside-menu{
        display: none;
    }

    #aside-menu.show{
        display: flex;
        border-radius: 0 30px 30px 0;
        transition: 250ms ease-in-out;
    }

    

    .close{
        position: absolute;
        left: 0;
        top: 2rem;
        color: var(--color-primary);
    }

    .hamburguer,
    .close{
        display: block;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        font-size: 40px;
        color: var(--color-primary);
    }

    .hamburguer:focus{
        outline: none;
    }


    .container-item:first-of-type{
        position: absolute;
        left: 0;
        z-index: 2;
    }

    .container-item:last-of-type{
        padding: 10px 0;
        display: block;
        height: auto;
    }

    #main-dashboard{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        gap: 50px;
        height: 100%;
    }
    
    #main-dashboard > section:first-of-type{
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    #main-dashboard > section:last-of-type{
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 2rem;
    }
    
}

@media screen and (max-width: 770px) {
    #main-table-dashboard{
        padding: 0;
    }

    #main-table-dashboard > thead{
        display: none;
    }

    #main-table-dashboard, 
    #main-table-dashboard > tbody,
    #main-table-dashboard > tbody > tr, 
    #main-table-dashboard > tbody > tr > td{
        display: block;
        width: 100%;
    }

    #main-table-dashboard > tbody > tr{
        margin-bottom: 15px;
    }

    #main-table-dashboard > tbody > tr > td{
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    #main-table-dashboard > tbody > tr > td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }

}