
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Rubik', sans-serif;
  
}

:root{
    --color-primary: #D9D9D9;
    --color-secondary: #AEC3B0;
    --color-tertiary: #598392;
    --color-quartenary: #124559;
    --color-fifth: #01161E;
}

#container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-primary);
}

.container-item{
    padding: 20px 0;
    height: 100vh;
}

.flex{
    display: flex;
}


#aside-menu{
    background-color: var(--color-quartenary);
    width: 200px;
    height: 100%;
    border-radius: 30px;
    box-shadow: 0px 0px 60px 1px var(--color-tertiary);
    color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4em 0;
}

#aside-menu > section:first-of-type > section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

#aside-menu > section:first-of-type > section > ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#aside-menu > section:first-of-type > section > ul > li> a{
    color: var(--color-primary);
    position: relative;
}

#aside-menu > section:first-of-type > section > ul > li> a::before{
    content: "";
    width: 100%;
    height: 4px;
    background-color: pink;
    position: absolute;
    bottom: -5px;
    left: 0;
    border-radius: 10px;


    transform: scaleX(0);
    transform-origin: left;
    transition: transform 250ms ease-in;
}

#aside-menu > section:first-of-type > section > ul > li> a:hover::before{
    transform: scaleX(1);
    border-radius: 10px;
}

#aside-menu > section:first-of-type > section > h1{
    font-size: 25px;
}


#aside-menu > section:last-of-type > p{
    font-weight: 300;
    font-size: 10px;
}

.hamburguer,
.close{
    display: none;
}