
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Rubik', sans-serif;
    outline: 1px solid red;
}

:root{
    --color-primary: #D9D9D9;
    --color-secondary: #AEC3B0;
    --color-tertiary: #598392;
    --color-quartenary: #124559;
    --color-fifth: #01161E;
}